<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tunanh.firewarning">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name="com.example.doan2.service.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.FireWarning"
        tools:targetApi="31">
        <service
            android:name="com.example.doan2.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.example.doan2.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--                <receiver android:name=".MyReceiver" android:enabled="true" android:exported="false">-->
<!--                    <intent-filter>-->
<!--                        <action android:name="android.intent.action.BOOT_COMPLETED"/>-->
<!--                    </intent-filter>-->
<!--                </receiver>-->
        <service android:name="com.example.doan2.BackgroundService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

<!--        </service>-->

    </application>

</manifest>